@model IEnumerable<PenShop.Models.GeneralProductOrder>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["OtherProductShoppingCart"];
}

<h1>@Localizer["OtherProductShoppingCart"]</h1>

<p>
    <a asp-controller="ProductOrder" asp-action="Index">@Localizer["ShoppingCart"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GeneralProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralProduct.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
