@model PenShop.Models.NibAccessory

<div class="col-xl-3">
    <div class="row">
        <img src="~/images/@Model.ImageNameForDisplay"
        class="col-sm-12"
        asp-append-version="true" />
    </div>
    <dl class="row">
        <dt class = "col-sm-6">
            Type
        </dt>
        <dd class = "col-sm-6">
            Nib
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            Tip diameter
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Nib.TipDiameter)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Nib.BodyMaterial)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Nib.BodyMaterial.Text)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Nib.TipMaterial)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Nib.TipMaterial.Text)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <div class="row">
        <div class = "col-sm-4">
            <a asp-action="Details" asp-route-id="@Model?.Id">Details</a>
        </div>
        <div class = "col-sm-4">
            <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
        </div>
        <div class = "col-sm-4">
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        </div>
    </div>
</div>
