@model ProductFilters

@using Microsoft.AspNetCore.Identity
@using PenShop.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Products"];
}

<h1>@Localizer["Products"]</h1>

<p>
    <a asp-controller="Pen" asp-action="Index">@Localizer["Pens"]</a>
    <a asp-controller="Ink" asp-action="Index">@Localizer["Ink"]</a>
    <a asp-controller="Accessory" asp-action="Index">@Localizer["Accessories"]</a>
</p>

<h4>@Localizer["Filters"]</h4>
<div class="container">
<form enctype="multipart/form-data" asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-xl-3">
            <label asp-for="Price" class="control-label"></label><br>
            <label asp-for="Price.Min" class="control-label"></label>
            <input asp-for="Price.Min" class="form-control" />
            <span asp-validation-for="Price.Min" class="text-danger"></span><br>
            <label asp-for="Price.Max" class="control-label"></label>
            <input asp-for="Price.Max" class="form-control" />
            <span asp-validation-for="Price.Max" class="text-danger"></span><br>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="@Localizer["Filter"]" class="btn btn-primary" />
    </div>
</form>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in (IEnumerable<int>)ViewData["Products"]) {
            @Html.RenderAction("ProductCard", new {id = item});
        }
    </div>
</div>
