@model IEnumerable<int>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Pens"];
}

<h1>@Localizer["Pens"]</h1>

<p>
    <a asp-controller="Product" asp-action="Index">@Localizer["Products"]</a> |
    <a asp-controller="FountainPen" asp-action="Index">@Localizer["FountainPens"]</a>
    <a asp-controller="RollerballPen" asp-action="Index">@Localizer["RollerballPens"]</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model) {
            @Html.RenderAction("ProductCard", new {id = item});
        }
    </div>
</div>
