@model PenShop.Models.RollerballPen

<div class="col-xl-3">
    <dl class="row">
        <dt class = "col-sm-6">
            Type
        </dt>
        <dd class = "col-sm-6">
            Fountain pen
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.CartridgeStandard)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.CartridgeStandard.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Material.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            Nib tip diameter
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.RollerballDiameter)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            <a asp-action="Details" asp-route-id="@Model?.Id">Details</a>
        </dt>
        <dd class = "col-sm-6">
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        </dd>
    </dl>
</div>
