@model PenShop.Models.RollerballPen

<div class="col-xl-3">
    <div class="row">
        <img src="~/images/@Model.ImageNameForDisplay"
        class="col-sm-12"
        asp-append-version="true" />
    </div>
    <dl class="row">
        <dt class = "col-sm-6">
            Type
        </dt>
        <dd class = "col-sm-6">
            Rollerball pen
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.CartridgeStandard)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.CartridgeStandard.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Material.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.RollerballDiameter)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.RollerballDiameter)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <div class="row">
        <div class = "col-sm-3">
            <a asp-action="Details" asp-route-id="@Model?.Id">Details</a>
        </div>
        <div class = "col-sm-3">
            <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
        </div>
        <div class = "col-sm-3">
            <a asp-action="Order" asp-route-id="@Model?.Id">Order</a>
        </div>
        <div class = "col-sm-3">
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        </div>
    </div>
</div>
