@using Microsoft.AspNetCore.Identity
@using PenShop.Models

@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@model PenShop.Models.Stand

<div class="col-xl-3">
    <div class="row">
        <img src="~/images/@Model.ImageNameForDisplay"
        class="col-sm-12"
        asp-append-version="true" />
    </div>
    <dl class="row">
        <dt class = "col-sm-6">
            Type
        </dt>
        <dd class = "col-sm-6">
            Stand
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Material.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <div class="row">
        <div class = "col-sm-4">
            <a asp-action="Details" asp-route-id="@Model?.Id">Details</a>
        </div>
        @if (user is Customer){
            <div class = "col-sm-8">
                <a asp-action="Order" asp-route-id="@Model?.Id">Order</a>
            </div>
        }else if(user is null){
            <div class = "col-sm-8">
                <a>Please register to make an order</a>
            </div>
        }
        @if (user is Administrator){
            <div class = "col-sm-4">
                <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
            </div>
            <div class = "col-sm-4">
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            </div>
        }
    </div>
</div>
