@model PenShop.Models.Nib

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["DeleteNib"];
}

<h1>Delete</h1>

<h3>@Localizer["DeleteSure"]</h3>
<div>
    <h4>@Localizer["Nib"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyMaterial.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipMaterial.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["BackToList"]</a>
    </form>
</div>
