@model PenShop.Models.Nib

@{
    ViewData["Title"] = "Nib details";
}

<h1>Details</h1>

<div>
    <h4>Nib</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyMaterial.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipMaterial.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
