@model IEnumerable<PenShop.Models.Nib>

@{
    ViewData["Title"] = "Nibs";
}

<h1>Nibs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BodyMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BodyMaterial.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipMaterial.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
