@model IEnumerable<int>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Accessories"];
}

<h1>@Localizer["Accessories"]</h1>

<p>
    <a asp-controller="Product" asp-action="Index">@Localizer["Products"]"]</a> |
    <a asp-controller="Converter" asp-action="Index">@Localizer["Converters"]</a>
    <a asp-controller="NibAccessory" asp-action="Index">@Localizer["Nibs"]</a>
    <a asp-controller="Stand" asp-action="Index">@Localizer["Stands"]</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model) {
            @Html.RenderAction("ProductCard", new {id = item});
        }
    </div>
</div>
